
.icon-dollar:before { content: '\e800'; } /* '' */
.icon-user-add:before { content: '\e801'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-address-book-o:before { content: '\f2ba'; } /* '' */