body {
  font-family: Helvetica,Arial,sans-serif !important;

  a, p, h1, h2, h3, h4, h5 {
    font-family: Helvetica,Arial,sans-serif;
  }

  h2 {
    font-size: 28px;
  }

  select {
    color: darken(@panel-dark-text, 60%);
  }

  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  width: 100%;
}

.well-muted {
  border: none;
  box-shadow: none;
}

.input-group {
  max-width: @content-max-width;
}

.input-group-addon, .input-group-btn {
  vertical-align: top;
}

.dropdown-menu {
  margin-top:8px;
}

.btn, .quick-links .quick-links-label {
  margin-bottom: 8px;
}

.navbar-form .input-group-dropdown {
    vertical-align: top;
    max-width: 100%;
}
