body {
  font-family: Helvetica,Arial,sans-serif !important;

  a, p, h1, h2, h3, h4, h5 {
    font-family: Helvetica,Arial,sans-serif;
  }


  &.no-scroll {
    overflow: hidden;
  }
}

.container {
  width: 100%;
}

.well-muted {
  border: none;
  box-shadow: none;
}
